<%= render 'layouts/sidebar' %>
<div class="container-fluid">
<div id="pins" class="transitions-enabled">
  <% @pin.each do |pin| %>
   <%= link_to pin.image.url(:large), :class => 'fancybox', :rel => 'group' do %>
    <div class="box">
        <%= image_tag pin.image.url(:large) %>
       <% if logged_in? && current_user.admin %>
          <%= link_to 'EDIT', edit_pin_path(pin), :id => "editpins" %>
          <%= link_to 'DELETE', pin, method: :delete,  data: { confirm: 'Are you sure?' }, :id => "editpins" %>
        <% end %>
    </div>
    <% end %>
  <% end %>
</div>
</div>

